nav{
  background-color: #660066;
}

#logo{
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 40px;
}

header{
  background-image: url('../img/agustina2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40rem;
  padding-top: 10rem;
  width: 100%;
  font-family: 'Oswald';

}

header h2{
  font-size: 72px;
}

header h1{
  font-size: 72px;
}

#sobre-mi{
  font-family: 'Open Sans';
}

#experiencia{
  font-family: 'Oswald';
}
#trabajos{
  background-color: #660066;
  font-family: 'Oswald';
}

#trabajos p {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: lighter;

}

#trabajos h5{
    font-size: 23px;
}

#trabajos a{
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: lighter;
}

#contacto{
  font-family: 'Oswald';
}

footer{
  background-color: #660066;
  height: 218px;
  font-family: 'Oswald';
}
