nav{
  background-color: #228B22;
}

#logo{
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 40px;
}

header{
  background-image: url('../img/agustina.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 35rem;
  padding-top: 15rem;
  width: 100%;
  font-family: 'Oswald';
}

header h2{
  font-size: 72px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

header h1{
  font-size: 72px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#sobre-mi{
  font-family: 'Open Sans';
  color: #373A3C;
}

#sobre-mi h1{
  font-family: 'Oswald';

}
#experiencia{
  font-family: 'Oswald';
}

#experiencia p{
  font-family: 'Open Sans';
  font-size: 25px;
}

#trabajos{
  background-color: #9ACD32;
  font-family: 'Oswald';
}

#trabajos p {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: lighter;
}

#trabajos h5{
    font-size: 23px;
}

#trabajos a{
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: lighter;
}

#contacto{
  font-family: 'Oswald';
}

footer{
  background-color: #228B22;
  height: 218px;
  font-family: 'Oswald';

}
