nav{
  background-color: #660066;
}


header{
  background-image: url('../img/agustina2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40rem;
  padding-top: 10rem;
  width: 100%;
  font-family: 'Oswald';
}

header h2{
  font-size: 72px;
}

header h1{
  font-size: 72px;
}
